<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hello Node</title>
    <link rel="stylesheet" type="text/css" href="public/style.css">
</head>
<body>

    {{{body}}}

</body>
</html>
